<div class="container p-3">
<h1>Add a restaurant</h1>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, :collection =>['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to restaurant list", restaurants_path, class: "text-primary" %>
</div>
